<div class="mw9 center ph3-ns">
  <nav class="flex items-center justify-between flex-wrap flex-column bb b--black-10 bg-white db dt-l w-100 border-box ph3 pt3 ph6-l">
    <div class="w-100 mb3 flex items-center justify-between flex-wrap flex-row">
    <a data-route="/" class="w2 ml5 v-mid mid-gray link tc tl-l mb2 mb0-l" href="#" title="Home">
      <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
    </a>
    <div class="db dtc-l v-mid tc tr-l w4">
      <label id="search" class="flex items-center">
      <span class="dim pointer self-center">
      <svg class="self-center" width="25" height="25" viewBox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
      <input class="ml2 outline-0 bn self-center" type="text" placeholder="Search blog..."/> 
      </label>
      </div>
    </div>
    <ul class="ml5 pl0 mt3 mb2 list mb1 w-75 flex items-start justify-start flex-wrap flex-row">
      <li class="mr3"><a data-route="/" class="black-80 link dim pointer" href="">Home</a></li>
      <li class="mr3"><a class="black-80 link dim pointer" href="">Tags</a></li>
      <li class="mr3"><a class="black-80 link dim pointer" href="">About</a></li>
    </ul>
  </nav>
  <div class="ph2-ns mt4 flex flex-row flex-wrap justify-center">
    <section class="pa2 fl w-80 w-50-l">
      {{#each posts}}
        <article class="mb3 ba b--black-10 bg-white tc pv2 flex flex-row flex-wrap items-center">
          <div class="w-100 db flex flex-row flex-wrap items-top">
            <svg class="dib ml3 mb2" idth="21" height="21" viewBox="0 0 21 21"><path d="M4.662 8.72l-1.23 1.23a1.753 1.753 0 0 0 .004 2.477l5.135 5.135c.7.693 1.8.688 2.48.005l1.23-1.23 5.35-5.346c.31-.31.54-.92.51-1.36l-.32-4.29c-.09-1.09-1.05-2.06-2.15-2.14l-4.3-.33c-.43-.03-1.05.2-1.36.51l-.79.8-2.27 2.28-2.28 2.27zm9.826-.98a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5z" fill-rule="evenodd"></path></svg>
            {{#each tags}}<a href="#" class="underline-hover link f5 ph2 silver tl">{{this}}</a>{{/each}}
          </div>
          <div class="w-100 db flex flex-row flex-wrap">
            <div class="tc dib ml2">
              <img src="http://tachyons.io/img/logo.jpg" class="br-100 pa1 ba b--black-10 h2 w2" alt="avatar">
            </div>
            <div class="tl ml2 dib">
              <p class="mb0 mt2 f6 light-silver v-mid">
                <a class="link green" href="#">{{author.name}}</a>
              </p>
              <p class="fw1 mb2 mt0 f6 light-silver v-mid"><a class="light-silver link dim" href="">4 days ago</a> · 2 mins read</p>
            </div>
          </div>
          <a data-route="{{slug}}" href="#" class="link f5 pa3 silver tl">
            <h3 class="mt1 mb3 f2 black-80 db w-100 tl">{{title}}</h3>
            <p class="f4 lh-copy dark-gray georgia">{{abstract}}</p>
            Read more...
          </a>
        </article>
      {{/each}}
    </section>
  </div>
</div>