<article>
  <header class="bg-gold sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked"><small>{{formatDate date}}</small></time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          {{title}}
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">{{subtitle}}</h4>
      <h5 class="f6 ttu tracked black-80">By {{author.name}}</h5>
    </div>
  </header>
  <div class="pa4 ph7-l georgia mw9-l center">
    {{{content}}}
  </div>
</article>