<div class="mw9 center ph3-ns">
  <div class="ph2-ns flex flex-row flex-wrap justify-center">    
    <article class="w-90 w-two-thirds-l w-75-ns ">
      <div class="mt4 w-100 db flex flex-row flex-wrap">
        <div class="tc dib ml2">
          <img src="http://tachyons.io/img/logo.jpg" class="br-100 pa1 ba b--black-10 h3 w3" alt="avatar">
        </div>
        <div class="tl ml3 dib">
          <p class="mb1 mt2 f6 
light-silver v-mid">
            <a class="link gray" href="#">{{author.name}}</a></p>
          <p class="fw1 mb1 mt0 f6 
light-silver v-mid">Freelance web developer</p>
          <p class="fw1 mb2 mt0 f6 
light-silver v-mid">{{formatDate date}}</p>
        </div>
      </div>
      <h1 class="f2 mb2 black-80" id="title">{{title}}</h1>
      {{{content}}}
      <div class="w-100 flex flex-row flex-wrap justify-start content-between mb3">
        {{#each tags}}
          <a href="" class="link bg-black-05 pa2 black-60 hover-bg-moon-gray br1">{{this}}</a>
        {{/each}}
      </div>
    </article>
  </div>
</div>
